player-connection-mode=Listen
player-connection-guid=3158641705
player-connection-debug=0
player-connection-project-name=CarDriver
player-connection-ip=58.199.162.188
player-connection-ip=172.26.48.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
